<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pr.user.mapper.UserRegisterMapper">

    <resultMap id="BaseResultMap" type="pr.user.entity.UserRegister">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="piName" column="pi_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pi_name,password,
        uid,del_flag
    </sql>
</mapper>
